.title {
    color: green;
}

body {
    background-color: black;
}

h1 {
    color: red;
}

#mainbox {
    background-color: #1f1f1f;
    width: auto;
    height:auto;
    color: red;
    text-align:justify
}
